.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.background_image {
  position: absolute;
  z-index: -1;
  margin: 0px 0px;
  opacity: 50%;
}
